<section class="column" id="main" style="height: 1511px;">
  <div class="breadcrumbs_container">
    <a name="new"></a>

    <article class="breadcrumbs">
      <a class="current">&gt;&gt;新增內容</a>
      <div class="breadcrumb_divider"></div>
      <a href="#list">&gt;&gt;內容列表</a>
    </article>

    <div class="clear"></div>
  </div>
  <%= form_for [:admin,@tour] do |f| %>
  <article class="module width_full">
    <header>
      <h3>
        <%= tour_model(@tour.day) %>
      </h3>
    </header>
    <div class="module_content">
      <%#= render "shared/errors", object: @tour %>
      <fieldset class="thum">
        <%= image_tag("thum.jpg", id: "blah")  %>
      </fieldset>

      <fieldset class="w70">
        <label>瀏覽檔案</label>
        <button class="alt_btn2" id="myBtn" name="button" type="button">選擇</button>
      </fieldset>

      <fieldset class="w70">
        <label>排序</label>
        <%= f.text_field :sort, style: "width:35px;" %>
      </fieldset>

      <fieldset class="w480">
        <label>標題</label>
        <%= f.text_field :title, style: "width: 450px;" %>
      </fieldset>
      <fieldset class="w740">
        <label>行程特色( 字數限制100字 )&nbsp;&nbsp;&nbsp;&nbsp;
          <span id="nowtxt"><b>目前:1字</b></span>
        </label>
        <%= f.text_area :short, style: "width: 700px;", rows: "3" %>
      </fieldset>

      <fieldset class="w740">
        <label>行程建議</label>
        <div class="ckeditor_m">
          <%= f.cktext_area :description, class: 'someclass', ckeditor: {:language => 'zh_TW'}, width: "740" %>
        </div>
      </fieldset>

      <%= f.hidden_field :day %>
      <%= f.file_field :picture, accept: "image/png,image/gif,image/jpeg" %>

      <div class="clear"></div>
    </div>
    <footer>
      <div class="submit_link">
        <input class="alt_btn" type="submit" value="新增">
        <input name="送出" type="reset" value="取消">
      </div>
    </footer>

  </article>
  <% end %>

  <a name="list"></a>
  <article class="breadcrumbs ">
    <a href="#new">&gt;&gt;新增內容</a>
    <div class="breadcrumb_divider"></div>
    <a class="current">&gt;&gt;內容列表</a>
  </article>
  <div class="clear"></div>

  <% @tours.each do |tour| %>
  <article class="module width_full">
    <div class="module_content">
      <fieldset class="thum">
        <%= image_tag(tour.picture) %>
      </fieldset>
      <fieldset class="w275">
        <label>標題</label>
        <div class="textNone"><%= tour.title %></div>
      </fieldset>
      <fieldset class="w275">
        <label>排序</label>
        <div class="textNone"><%= tour.sort %></div>
      </fieldset>
      <fieldset class="w70">
        <label>功能</label>
        <%= link_to(image_tag("icn_edit.png"), edit_admin_tour_path(tour), title: "Edit", class: "Edit") %>
        <%= link_to(image_tag("icn_trash.png"), admin_tour_path(tour), method: :delete, title: "Trash", class: "Trash") %>
      </fieldset>
      <div class="clear"></div>
    </div>
  </article>
  <% end %>
  <%= render 'page', day: @tour.day, pages: @pages  %>
  <div class="clear"></div>
  <div class="spacer"></div>
</section>
