<section class="column" id="main" style="height: 1104px;">
  <div class="breadcrumbs_container">
    <a name="new"></a>

    <article class="breadcrumbs">
      <a class="current">&gt;&gt;新增內容</a>
      <div class="breadcrumb_divider"></div>
      <a href="#list">&gt;&gt;內容列表</a>
    </article>

    <div class="clear"></div>
  </div>
  <%= form_for [:admin,@rent] do |f| %>
  <article class="module width_full">
    <header>
      <h3>
        <%= rent_model(@rent.cartype,@rent.period) %>( 主圖上傳尺寸為 640*360像素    排序：數字越小越前面 )
      </h3>
    </header>
    <div class="module_content">
      <%#= render "shared/errors", object: @ad %>
      <fieldset class="thum">
        <%= image_tag("thum.jpg", id: "blah")  %>
      </fieldset>

      <fieldset class="w70">
        <label>瀏覽檔案</label>
        <button class="alt_btn2" id="myBtn" name="button" type="button">選擇</button>
      </fieldset>

      <fieldset class="w70">
        <label>排序</label>
        <%= f.text_field :sort, style: "width:35px;" %>
      </fieldset>

      <fieldset class="w235">
        <label>廠牌</label>
        <%= f.text_field :brand, style: "width: 200px;" %>
      </fieldset>

      <fieldset class="w235">
        <label>型號</label>
        <%= f.text_field :model_no, style: "width: 200px;" %>
      </fieldset>

      <fieldset class="w103">
        <label>顏色</label>
        <span class="w275">
          <%= f.text_field :color, style: "width: 205px;" %>
        </span>
      </fieldset>

      <fieldset class="w103">
        <label>排氣量</label>
        <span class="w275">
          <%= f.text_field :displacement, style: "width: 205px;" %>
        </span>
      </fieldset>

      <fieldset class="w103">
        <label>價格</label>
        <span class="w275">
          <%= f.text_field :pay, style: "width: 205px;" %>
        </span>
      </fieldset>

      <fieldset class="w740">
        <label>內文編輯</label>
        <div class="ckeditor_m">
          <%= f.cktext_area :description, class: 'someclass', ckeditor: {:language => 'zh_TW'}, width: "740" %>
        </div>
      </fieldset>
      <%= f.hidden_field :cartype %>
      <%= f.hidden_field :period %>
      <%= f.file_field :picture, accept: "image/png,image/gif,image/jpeg" %>

      <div class="clear"></div>
    </div>
    <footer>
      <div class="submit_link">
        <input class="alt_btn" type="submit" value="新增">
        <input name="送出" type="reset" value="取消">
      </div>
    </footer>

  </article>
  <% end %>

  <a name="list"></a>
  <article class="breadcrumbs ">
    <a href="#new">&gt;&gt;新增內容</a>
    <div class="breadcrumb_divider"></div>
    <a class="current">&gt;&gt;內容列表</a>
  </article>
  <div class="clear"></div>

  <% @rents.each do |rent| %>
  <article class="module width_full">
    <div class="module_content">
      <fieldset class="thum">
        <%= image_tag rent.picture %>
      </fieldset>
      <fieldset class="w275">
        <label>廠牌</label>
        <div class="textNone"> <%= rent.brand %> </div>
      </fieldset>
      <fieldset class="w210">
        <label>型號</label>
        <div class="textNone4"> <%= rent.model_no %> </div>
      </fieldset>
      <fieldset class="w70">
        <label>排序</label>
        <div class="textNone3"> <%= rent.sort %> </div>
      </fieldset>
      <fieldset class="w70">
        <label>功能</label>
        <%= link_to(image_tag("icn_edit.png"), edit_admin_rent_path(rent), title: "Edit", class: "Edit") %>
        <%= link_to(image_tag("icn_trash.png"), admin_rent_path(rent), method: :delete, title: "Trash", class: "Trash") %>
      </fieldset>
      <div class="clear"></div>
    </div>
  </article>
  <% end %>
  <%= render 'page', cartype: @rent.cartype, period: @rent.period, pages: @pages  %>
  <div class="clear"></div>
  <div class="spacer"></div>
</section>
