<%= render 'rside' %>

<artical>
  <div class="path">
    首頁/<%= params[:period] == "1" ? "長期租車" : "短期租車" %>/
    <mark><%= car_type(params[:cartype].to_i) %></mark>
  </div>

  <div class="car">
    <% @rents.each do |rt| %>
    <li>
      <%= image_tag rt.picture %>
      <p>汽車廠牌：<%= rt.brand %>
        <br> 汽車型號：<%= rt.model_no %>
      </p>
      <p>車身顏色：<%= rt.color %></p>
      <p>車排氣量：<%= rt.displacement %></p>
      <p>租車價格：
        <span class="price"> <%= rt.pay %></span>元/月</p>
      <input onclick="location.href='<%= rent_path(rt)%>'" value="詳細內容" class="button2 Carfloat" type="submit" name="button" id="button">
    </li>
    <% end %>
  </div>
</artical>
