<!--大圖輪播start -->
<div id="wowslider-container1">
  <div class="ws_images">
    <ul>
      <% @big_ad.each do |ad| %>
      <li>
        <a href="http://www.shangma.com.tw/CarB01.aspx">
          <%= image_tag(ad.picture, title: ad.title, id: "wows1_0") %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="ws_bullets">
    <div>
      <% @big_ad.each do |ad| %>
      <a href="#" title="http://www.shangma.com.tw/CarB01.aspx">
        <span>
          <%= image_tag(ad.picture) %>
        </span>
      </a>
      <% end %>
    </div>
  </div>
</div>

<!--大圖輪播end -->

<dl class="Rfour">
  <dt class="airport">
    <a alt="機場接送" href="PickupService01.htm" title="機場接送">機場接送</a>
  </dt>
  <dt class="business">
    <a alt="商務洽公" href="Business.htm" title="商務洽公">商務洽公</a>
  </dt>
  <dt class="chartered">
    <a alt="旅遊包車" href="Chartered.htm" title="旅遊包車">旅遊包車</a>
  </dt>
  <dt class="wedding">
    <a alt="結婚禮車" href="Wedding.htm" title="結婚禮車">結婚禮車</a>
  </dt>
</dl>
<div class="clear"></div>
</section>

<section class="mgTop indexService">

<!--最新消息 開始 -->
<aside>
  <% @messages.each do |ms| %>
  <dl class="hotnews">
    <dd class="tt">
      <a href="NewsPro.htm"><%= ms.title  %></a>
    </dd>
    <dd class="date"><%= ms.date.strftime("%Y-%m-%d") %></dd>
  </dl>
  <% end %>
</aside>
<!--最新消息 結束 -->

<!--我們的服務 開始 -->
<artical>
  <ul class="service">
    <li>
      <%= link_to image_tag("car_7.jpg", alt: "長期租車", title: "長期租車"), rents_path(period: 1, cartype: 1) %>
    </li>
    <li>
      <%= link_to image_tag("car_9.jpg", alt: "短期租車", title: "短期租車"), rents_path(period: 2, cartype: 1) %>
    </li>
    <li>
      <%= link_to image_tag("car_11.jpg", alt: "新舊車買賣", title: "新舊車買賣"), article_path(id: 7) %>
    </li>
    <li>
      <%= link_to image_tag("car_13.jpg", alt: "汽車保養", title: "汽車保養"), article_path(id: 8) %>
    </li>
    <li>
      <%= link_to image_tag("car_15.jpg", alt: "主題住宿", title: "主題住宿"), article_path(id: 1) %>
    </li>
  </ul>
</artical>
<!--我們的服務 結束 -->

<div class="clear"></div>
</section>

<section>
<!--臉書start -->
<aside>
  <div class="facebook"></div>
  <div id="fb-root"></div>
  <script>
(function (d, s, id) {
  var js,
    fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id))
    return;
  js = d.createElement(s);
  js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="fb-page" data-hide-cover="false" data-href="https://www.facebook.com/shangma9292" data-show-facepile="true" data-show-posts="false" data-width="310">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/shangma9292">
        <a href="https://www.facebook.com/shangma9292">上馬汽車租賃</a>
      </blockquote>
    </div>
  </div>
</aside>
<!--臉書end -->

<!--旅遊行程start -->
<artical class="tourList">
<li>
  <div alt="1日自由行" class="days" title="1日自由行">
    <%= link_to "1日自由行", tours_path(day: 1) %>
  </div>
  <dl>
    <h3>1日自由行</h3>
    <small>Freedom Travel</small>
    <div class="clear"></div>
    <% @tour1.each do |day| %>
    <dd>●
      <%= link_to day.title, tour_path(day) %>
    </dd>
    <% end%>
  </dl>
</li>
<li>
  <div alt="2日自由行" class="days" title="2日自由行">
    <%= link_to "2日自由行", tours_path(day: 2) %>
  </div>
  <dl>
    <h3>2日自由行</h3>
    <small>Freedom Travel</small>
    <div class="clear"></div>
    <% @tour2.each do |day| %>
    <dd>●
      <%= link_to day.title, tour_path(day) %>
    </dd>
    <% end%>
  </dl>
</li>
<li>
  <div alt="3日自由行" class="days" title="3日自由行">
    <%= link_to "3日自由行", tours_path(day: 3) %>
  </div>
  <dl>
    <h3>3日自由行</h3>
    <small>Freedom Travel</small>
    <div class="clear"></div>
    <% @tour3.each do |day| %>
    <dd>●
      <%= link_to day.title, tour_path(day) %>
    </dd>
    <% end%>
  </dl>
</li>
<li>
  <div alt="4日自由行" class="days" title="4日自由行">
    <%= link_to "4日自由行", tours_path(day: 4) %>
  </div>
  <dl>
    <h3>4日自由行</h3>
    <small>Freedom Travel</small>
    <div class="clear"></div>
    <% @tour4.each do |day| %>
    <dd>●
      <%= link_to day.title, tour_path(day) %>
    </dd>
    <% end%>
  </dl>
</li>
<li>
  <div alt="5日自由行" class="days" title="5日自由行">
    <%= link_to "5日自由行", tours_path(day: 5) %>
  </div>
  <dl>
    <h3>5日(以上)自由行</h3>
    <div class="clear"></div>
    <% @tour5.each do |day| %>
    <dd>●
      <%= link_to day.title, tour_path(day) %>
    </dd>
    <% end%>
  </dl>
</li>
<li>
  <div alt="特色民宿主題房型" class="days" title="特色民宿主題房型">
    <%= link_to "特色民宿主題房型", article_path(id: 1) %>
  </div>
  <dl>
    <h3>特色民宿˙主題房型</h3>
    <div class="clear"></div>
    <dd>●
      <%= link_to "魅力中台灣只要798元起", article_path(id: 1) %>
    </dd>
    <dd>●
      <%= link_to "尋找遺世獨立的石頭城", article_path(id: 1) %>
    </dd>
    <dd>●
      <%= link_to "變形金剛寶島時代村豐富", article_path(id: 1) %>
    </dd>
  </dl>
</li>
</artical>
<!--旅遊行程end -->
