<!--大圖輪播start -->
<div class="ws_gestures" id="wowslider-container1" style="font-size: 10px;">
  <div class="ws_images" style="overflow: visible;">
    <div style="position: relative; width: 100%; font-size: 0px; line-height: 0; max-height: 100%; overflow: hidden;"><img id="wows1_0" src="01.jpg" style="width: 100%; visibility: hidden;" title="自由行兩人成行"></div>
    <div style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: hidden;">
      <div class="ws_list" style="position: absolute; top: 0px; height: 100%; transform: translate3d(0px, 0px, 0px); width: 1000%; left: -280.042540341084%;">
        <div class="ws_swipe_left" style="position: absolute; top: 0px; height: 100%; overflow: hidden; width: 10%; left: -10%;"><img id="wows1_3" src="04.jpg" style="visibility: visible;" title="自由行兩人成行"></div>
        <ul style="width: 100%;">
          <li style="width: 10%;">
            <a href="#"><img id="wows1_0" src="01.jpg" style="visibility: visible;" title="自由行兩人成行"></a>
          </li>
          <li style="width: 10%;">
            <a href="#"><img id="wows1_1" src="02.jpg" style="visibility: visible;" title="自由行兩人成行"></a>
          </li>
          <li style="width: 10%;">
            <a href="#"><img id="wows1_2" src="03.jpg" style="visibility: visible;" title="自由行兩人成行"></a>
          </li>
          <li style="width: 10%;">
            <a href="#"><img id="wows1_3" src="04.jpg" style="visibility: visible;" title="自由行兩人成行"></a>
          </li>
        </ul>
        <div class="ws_swipe_right" style="position: absolute; top: 0px; height: 100%; overflow: hidden; width: 10%; left: 40%;"><img id="wows1_0" src="01.jpg" style="visibility: visible;" title="自由行兩人成行"></div>
      </div>
    </div>
    <div class="ws_cover" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 10; opacity: 0; background: rgb(255, 255, 255);">
      <a href="file:///Users/archer/Downloads/web-html/index.htm#" style="display: block; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" target=""></a>
    </div>
    <div class="ws_controls">
      <div class="ws_bullets">
        <div>
          <a class="" href="#" title="自由行兩人成行">
            <span></span>
          </a>
          <a class="" href="#" title="自由行兩人成行">
            <span></span>
          </a>
          <a class="" href="#" title="自由行兩人成行">
            <span></span>
          </a>
          <a class="ws_selbull" href="#" title="自由行兩人成行">
            <span></span>
          </a>
          <div class="ws_bulframe">
            <div>
              <div style="width: 500%;"><img src="01.jpg"><img src="02.jpg"><img src="03.jpg"><img src="04.jpg"></div>
            </div>
            <span></span>
          </div>
        </div>
      </div>
      <a class="ws_next" href="#">
        <span>
          <i></i>
          <b></b>
        </span>
      </a>
      <a class="ws_prev" href="#">
        <span>
          <i></i>
          <b></b>
        </span>
      </a>
      <a class="ws_playpause ws_pause" href="#">
        <span>
          <i></i>
          <b></b>
        </span>
      </a>
    </div>
  </div>
</div>
<!--大圖輪播end -->

<dl class="Rfour">
  <dt class="airport">
    <a alt="機場接送" href="PickupService01.htm" title="機場接送">機場接送</a>
  </dt>
  <dt class="business">
    <a alt="商務洽公" href="Business.htm" title="商務洽公">商務洽公</a>
  </dt>
  <dt class="chartered">
    <a alt="旅遊包車" href="Chartered.htm" title="旅遊包車">旅遊包車</a>
  </dt>
  <dt class="wedding">
    <a alt="結婚禮車" href="Wedding.htm" title="結婚禮車">結婚禮車</a>
  </dt>
</dl>
<div class="clear"></div>
</section>

<section class="mgTop indexService">

<!--最新消息 開始 -->
<aside>

  <dl class="hotnews">
    <dd class="tt">
      <a href="NewsPro.htm">觀光旅遊 / 讓您真正享受休閒旅遊的享受休閒旅享受休閒旅趣</a>
    </dd>
    <dd class="date">2015-01-01</dd>
  </dl>

  <dl class="hotnews">
    <dd class="tt">
      <a href="NewsPro.htm">觀光旅遊 / 讓您真正享受休閒旅遊的享受休閒旅享受休閒旅趣</a>
    </dd>
    <dd class="date">2015-01-01</dd>
  </dl>

  <dl class="hotnews">
    <dd class="tt">
      <a href="NewsPro.htm">觀光旅遊 / 讓您真正享受休閒旅遊的享受休閒旅享受休閒旅趣</a>
    </dd>
    <dd class="date">2015-01-01</dd>
  </dl>

  <dl class="hotnews">
    <dd class="tt">
      <a href="NewsPro.htm">觀光旅遊 / 讓您真正享受休閒旅遊的享受休閒旅享受休閒旅趣</a>
    </dd>
    <dd class="date">2015-01-01</dd>
  </dl>

  <dl class="hotnews">
    <dd class="tt">
      <a href="NewsPro.htm">觀光旅遊 / 讓您真正享受休閒旅遊的享受休閒旅享受休閒旅趣</a>
    </dd>
    <dd class="date">2015-01-01</dd>
  </dl>

</aside>
<!--最新消息 結束 -->

<!--我們的服務 開始 -->
<artical>
  <ul class="service">
    <li>
      <a href="CarA01.htm"><%= image_tag("car_7.jpg", alt: "長期租車", title: "長期租車") %></a>
    </li>
    <li>
      <a href="CarB01.htm"><%= image_tag("car_9.jpg", alt: "短期租車", title: "短期租車") %></a>
    </li>
    <li>
      <a href="Sale.htm"><%= image_tag("car_11.jpg", alt: "新舊車買賣", title: "新舊車買賣") %></a>
    </li>
    <li>
      <a href="Care.htm"><%= image_tag("car_13.jpg", alt: "汽車保養", title: "汽車保養") %></a>
    </li>
    <li>
      <a href="tour06.htm"><%= image_tag("car_15.jpg", alt: "主題住宿", title: "主題住宿") %></a>
    </li>
  </ul>
</artical>
<!--我們的服務 結束 -->

<div class="clear"></div>
</section>

<section>
<!--臉書start -->
<aside>
  <div class="facebook"></div>
  <div id="fb-root"></div>
  <script>
(function (d, s, id) {
  var js,
    fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id))
    return;
  js = d.createElement(s);
  js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="fb-page" data-hide-cover="false" data-href="https://www.facebook.com/shangma9292" data-show-facepile="true" data-show-posts="false" data-width="310">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/shangma9292">
        <a href="https://www.facebook.com/shangma9292">上馬汽車租賃</a>
      </blockquote>
    </div>
  </div>
</aside>
<!--臉書end -->

<!--旅遊行程start -->
<artical class="tourList">
<li>
  <div alt="1日自由行" class="days" title="1日自由行">
    <a href="tour01.htm">1日自由行</a>
  </div>
  <dl>
    <h3>1日自由行</h3>
    <small>Freedom Travel</small>
    <div class="clear"></div>
    <dd>●
      <a href="#">魅力中台灣只要798元起</a>
    </dd>
    <dd>●
      <a href="#">尋找遺世獨立的石頭城</a>
    </dd>
    <dd>●
      <a href="#">變形金剛寶島時代村豐富</a>
    </dd>
  </dl>
</li>
<li>
  <div alt="1日自由行" class="days" title="1日自由行">
    <a href="tour02.htm">3日自由行</a>
  </div>
  <dl>
    <h3>2日自由行</h3>
    <small>Freedom Travel</small>
    <div class="clear"></div>
    <dd>●
      <a href="#">魅力中台灣只要798元起</a>
    </dd>
    <dd>●
      <a href="#">尋找遺世獨立的石頭城</a>
    </dd>
    <dd>●
      <a href="#">變形金剛寶島時代村豐富</a>
    </dd>
  </dl>
</li>
<li>
  <div alt="1日自由行" class="days" title="1日自由行">
    <a href="tour03.htm">3日自由行</a>
  </div>
  <dl>
    <h3>3日自由行</h3>
    <small>Freedom Travel</small>
    <div class="clear"></div>
    <dd>●
      <a href="#">魅力中台灣只要798元起</a>
    </dd>
    <dd>●
      <a href="#">尋找遺世獨立的石頭城</a>
    </dd>
    <dd>●
      <a href="#">變形金剛寶島時代村豐富</a>
    </dd>
  </dl>
</li>
<li>
  <div alt="4日自由行" class="days" title="4日自由行">
    <a href="tour04.htm">4日自由行</a>
  </div>
  <dl>
    <h3>4日自由行</h3>
    <small>Freedom Travel</small>
    <div class="clear"></div>
    <dd>●
      <a href="#">魅力中台灣只要798元起</a>
    </dd>
    <dd>●
      <a href="#">尋找遺世獨立的石頭城</a>
    </dd>
    <dd>●
      <a href="#">變形金剛寶島時代村豐富</a>
    </dd>
  </dl>
</li>
<li>
  <div alt="5日自由行" class="days" title="5日自由行">
    <a href="tour05.htm">5日自由行</a>
  </div>
  <dl>
    <h3>5日(以上)自由行</h3>
    <div class="clear"></div>
    <dd>●
      <a href="#">魅力中台灣只要798元起</a>
    </dd>
    <dd>●
      <a href="#">尋找遺世獨立的石頭城</a>
    </dd>
    <dd>●
      <a href="#">變形金剛寶島時代村豐富</a>
    </dd>
  </dl>
</li>
<li>
  <div alt="特色民宿主題房型" class="days" title="特色民宿主題房型">
    <a href="tour06.htm">特色民宿主題房型</a>
  </div>
  <dl>
    <h3>特色民宿˙主題房型</h3>
    <div class="clear"></div>
    <dd>●
      <a href="#">魅力中台灣只要798元起</a>
    </dd>
    <dd>●
      <a href="#">尋找遺世獨立的石頭城</a>
    </dd>
    <dd>●
      <a href="#">變形金剛寶島時代村豐富</a>
    </dd>
  </dl>
</li>
</artical>
<!--旅遊行程end -->
