<aside>
  <%= render "map" %>
  <%= render "fside" %>
</aside>

<artical>
  <div class="path">首頁/
    <mark>關於我們</mark>
  </div>

  <div class="comm">
    <table border="0" cellpadding="0" cellspacing="0" class="stable" width="100%">
      <tbody>
        <tr>
          <td align="center" height="490" valign="top">
            <p>&nbsp;</p>
            <h2>上馬汽車租賃</h2>
            <p>&nbsp;</p>
            <p>上馬租賃有限公司提供了多元化的服務內容，</p>
            <p>
              無論是企業
              <strong>長期租車</strong>、
              <strong>短期租車</strong>、
              <strong>貨車租車</strong>、
              <strong>機場接送</strong>、</p>
            <p>
              <strong>觀光旅遊</strong>、
              <strong>結婚禮車</strong>、
              <strong>交通車</strong>、
              <strong>外賓接送</strong>..等，</p>
            <p>皆給您最親切專業的快速便利服務 。</p>
            <p>&nbsp;</p>
            <p>提供安全、準時的運送服務及確保運送安全的品質是我們的目標，</p>
            <p>在安全方面，本公司更是強調要求一定要有如乘客平安保險等訴求，</p>
            <p>讓客戶有著「安全、準時、舒適」高品質的服務，</p>
            <p>不斷提昇運輸的專業水準，並致力於車輛的保養、人力素質的提昇</p>
            <p>與管理的合理化與制度化是本公司一直朝向的理念方針。&nbsp;</p>
          </td>
        </tr>
      </tbody>
    </table>

    <table border="0" cellpadding="10" cellspacing="0" class="MGtable" width="100%">
      <tbody>
        <tr>
          <td bgcolor="#F3F3F3" colspan="2">上馬汽車租賃</td>
        </tr>
        <tr>
          <td width="20">
            <%= image_tag("tel.gif", width: "20", height: "20") %>
          </td>
          <td>諮詢熱線：+886 4 25205556 (星期一AM09:00~星期日PM21:00)</td>
        </tr>
        <tr>
          <td bgcolor="#FFFFF7">
            <%= image_tag("fax.gif", width: "20", height: "20") %>
          </td>
          <td bgcolor="#FFFFF7">傳真號碼：+886 4 25205567
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag("urgency.gif", width: "20", height: "20") %>
          </td>
          <td>緊急電話：0910-478774</td>
        </tr>
        <tr>
          <td bgcolor="#FFFFF7">
            <%= image_tag("mail.gif", width: "20", height: "20") %>
          </td>
          <td bgcolor="#FFFFF7">電子信箱：info@shangma.com.tw
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag("line.gif") %>
          </td>
          <td>LINE&nbsp; ID：shangma9292
          </td>
        </tr>
        <tr>
          <td bgcolor="#FFFFF7">
            <%= image_tag("home.gif", width: "20", height: "20") %>
          </td>
          <td bgcolor="#FFFFF7">上馬地址：【豐原店】 台中市豐原區圓環西路92號 &nbsp;&nbsp;&nbsp;&nbsp; 【卓蘭店】 苗栗縣卓蘭鎮新厝45-3號
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</artical>
