<aside class="column" id="sidebar">
  <p>功能選單</p>
  <h3>首頁</h3>
  <ul class="toggle">
    <li>
      <%= link_to "大圖輪播", admin_adverts_path(ad_model: 1) %>
    </li>
    <li>
      <%= link_to "頁腳廣告", admin_adverts_path(ad_model: 2) %>
    </li>
    <li>
      <%= link_to "最新消息", admin_news_index_path %>
    </li>
  </ul>
  <h3>長租車</h3>
  <ul class="toggle">
    <li>
      <%= link_to "轎車", admin_rents_path(period: 1, cartype: 1) %>
    </li>
    <li>
      <%= link_to "貨車", admin_rents_path(period: 1, cartype: 2) %>
    </li>
    <li>
      <%= link_to "休旅車", admin_rents_path(period: 1, cartype: 3) %>
    </li>
  </ul>
  <h3>短租車</h3>
  <ul class="toggle">
    <li>
      <%= link_to "轎車", admin_rents_path(period: 2, cartype: 1) %>
    </li>
    <li>
      <%= link_to "貨車", admin_rents_path(period: 2, cartype: 2) %>
    </li>
    <li>
      <%= link_to "休旅車", admin_rents_path(period: 2, cartype: 3) %>
    </li>
  </ul>
  <h3>行程規劃</h3>
  <ul class="toggle">
    <li>
      <%= link_to "一日行程", admin_tours_path(day: 1) %>
    </li>
    <li>
      <%= link_to "二日行程", admin_tours_path(day: 2) %>
    </li>
    <li>
      <%= link_to "三日行程", admin_tours_path(day: 3) %>
    </li>
    <li>
      <%= link_to "四日行程", admin_tours_path(day: 4) %>
    </li>
    <li>
      <%= link_to "五日行程(以上)", admin_tours_path(day: 5) %>
    </li>
    <li>
      <%= link_to "主題住宿", admin_articles_path %>
    </li>
  </ul>
  <h3>廣告頁</h3>
  <ul class="toggle">
    <li>
      <%= link_to "交通資訊", admin_articles_path %>
    </li>
    <li>
      <%= link_to "租車須知", admin_articles_path %>
    </li>
    <li>
      <%= link_to "旅遊包車", admin_articles_path %>
    </li>
    <li>
      <%= link_to "商務洽公", admin_articles_path %>
    </li>
    <li>
      <%= link_to "結婚禮車", admin_articles_path %>
    </li>
    <li>
      <%= link_to "新舊車買賣", admin_articles_path %>
    </li>
    <li>
      <%= link_to "汽車保養", admin_articles_path %>
    </li>
  </ul>
  <footer>
    <p>
      <strong>Copyright © 2015 </strong>
    </p>
    <p>
      <strong> Website Admin
        <br>
      </strong>上馬汽車租賃</p>
    <p>&nbsp;</p>
  </footer>
</aside>
