<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8">
  <%= render 'meta'%>
  <title>台中租車,旅館民宿,旅遊包車,台灣旅遊,機場接送-上馬汽車</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body  onload="pretokeiTim12()">
  <%= render 'nav' %>
  <section class="mgTop">
    <%= render 'fside'%>
    <%= yield %>
    <div class="clear"></div>
  </section>
  <%= render 'footer' %>
</body>
</html>
